* {
  box-sizing: border-box;
}

:root {
  --primary-dark: #bc6266; /*logo, headlines, background */
  --primary-light: #ce8490; /*logo, headlines, buttons */
  --neutral-light: #efdad4; /*backgrounds */
  --neutral-dark: #e7b9ab; /*backgrounds*/
  --accent-color: #d27d54; /*buttons, sections that need to stand out*/
  --text-color: #33312e; /* text color */
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--neutral-light);
  font-family: "Poppins", serif;
  line-height: 1.6;
  background-color: var(--neutral-light);
  overflow-x: hidden;
  padding-top: 50px;
}

main h2 {
  font-size: 2rem;
  color: var(--primary-dark);
}

main h3 {
  font-size: 1.5rem;
  color: var(--primary-light);
}

section {
  padding-top: 50px;
  padding-bottom: 30px;
}

header {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--neutral-light);
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 50px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
}

/* Style for the hero section */
.hero {
  position: relative;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
}

/* Style for the background video */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Content overlay within the hero */
.hero-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: var(--primary-dark);
}

.hero-content h1 {
  color: var(--primary-light);
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
}

.hero-content p {
  color: var(--neutral-light);
  font-size: 2rem;
  margin: 10px 0 0;
}

.book-now {
  position: relative;
  z-index: 1;
  align-self: flex-end;
  padding-bottom: 10px;
  padding-right: 24px;
  text-align: right;
}

.hero .cta {
  margin-bottom: -15px;
}

.cta {
  display: inline-block;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: auto;
  margin-top: auto;
  margin-bottom: 30px;
}

.cta:hover {
  background-color: var(--primary-light);
  transform: scale(1.05);
}

.cta:active {
  transform: scale(0.98);
}

/* About section styling */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-light);
}

.about-container {
  display: flex;
  margin: 24px;
  gap: 32px;
}

.about-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.middle {
  display: flex;
  flex-direction: row-reverse;
}

.about-container img {
  max-width: 40vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Room selection styling */

#rooms {
  background-color: var(--neutral-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 24px;
  width: 30vw;
  background-color: var(--neutral-light);
  padding: 24px;
  border-radius: 10px;
}

.rooms-container {
  display: flex;
  flex-direction: row;
}

.price {
  font-weight: bold;
}

/* Features section styling */
#features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  display: flex;
  flex-direction: row;
}

.features-container {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 0px;
  margin-bottom: 24px;
  max-width: 30vw;
  justify-content: space-between;
}

.features-container img {
  height: 400px;
  object-fit: cover;
}

/* Booking Section */
#booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-dark);
}

.booking {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-light);
  padding: 20px;
  margin: 24px;
  border-radius: 10px;
  width: 40%;
}

.calender-container {
  display: flex;
  flex-direction: column;
  margin: 24px;
  background-color: var(--neutral-light);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  align-items: center;
}

.booking-form label {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 8px;
  font-weight: bold;
}

.booking-form input,
.booking-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid var(--neutral-light);
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  color: var(--text-color);
  box-sizing: border-box;
}

.addons {
  display: flex;
  flex-direction: column;
}

.addon-label {
  font-size: 0.7rem;
  font-weight: normal;
  display: flex;
  gap: 8px;
}

.addon-text {
  font-size: 0.9rem;
  font-weight: normal;
  width: auto;
}

.addon-checkbox {
  height: 20px;
  width: 20px !important;
}

.booking-form button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.booking-form button:hover {
  background-color: var(--primary-dark);
  transform: scale(1.05);
}

.booking-form button:active {
  transform: scale(0.98);
}

.total-cost h3 {
  color: var(--text-color);
}

/* Styling for footer */
footer {
  background-color: var(--neutral-light);
  color: var(--text-color);
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-container div {
  max-width: 350px;
  min-width: 300px;
  margin: 10px;
}

.footer-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--primary-dark);
}

.footer-about {
  width: 100px;
}

.footer-container p,
.footer-container a {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--text-color);
  text-decoration: none;
}

.footer-container a:hover {
  color: var(--primary-light);
  text-decoration: underline;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li,
.footer-social ul li {
  margin-bottom: 10px;
}

.footer-social ul li a {
  display: inline-block;
  font-size: 1rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: var(--text-color);
  border-top: 1px solid var(--neutral-dark);
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
}
